<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Vuelos</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center mb-4">Gestión de Vuelos</h1>
        <div class="list-group">
            <a href="{% url 'register_flight' %}" class="list-group-item list-group-item-action">Registrar Vuelos</a>
            <a href="{% url 'list_flights' %}" class="list-group-item list-group-item-action">Listar Vuelos</a>
            <a href="{% url 'flight_statistics' %}" class="list-group-item list-group-item-action">Estadísticas de Vuelos</a>
        </div>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>